header {
    background-color: white;
    border-bottom: 1px #CCCCCC solid;
    height: 70px;
    width: 100%;
    margin: 0px;
    position: relative;
}


a.logo {
    width: 140px;
    height: 70px;
    background-size: 140px 60px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
}
